.navbar {
    background-color: #171515;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
        margin: 0;
        padding: 15px;
    }
    .navbar-log {
        display: flex;
        align-items: center;
        margin: 10px;
        button {
            margin: 5px;
        }
    }
}